/* THe background of my website */
body {
    margin:auto;
    background-color:#13262F;
    min-height: 100vh; 
}

/* Boxes order*/
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "banner banner banner"
    "nav nav nav"
    "sub-heading sub-heading sub-heading"
    "devotion devotion devotion"
    "footer footer footer"; 
}

/* Title box customisation */
.banner {
    grid-area: banner;
    text-align:center;
    background-color: #13262F;
    color: #E9E6FF;
    font-size: 30px;
}

/* Nav box customisation*/
.nav {
    grid-area: nav;
    background-color: #C3A995;
    padding-top: 20px;
    padding-bottom: 23px;
}

/* Question box customisation*/
.sub-heading {
    grid-area: sub-heading;
    background-color: #13262F;
    color :lavender;
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: center;
    font-size:30px;

}

.devotion {
    grid-area:devotion; 

    display: flex;
    justify-content:center; 
    gap:100px;  
    padding-bottom:75px;
} 
/* quote button */
.devq{
    color: #13262F;
    text-decoration: none;
    text-align: center;
    background-color: #C3A995;
    grid-area: devq;
    font-size: 50px; 
    padding-left:20px;
    padding-right:20px;
    border-radius:25px;
    padding-top:15px;
    padding-bottom:15px;

}

/* Encouraging word button */
.deve{
    color: #13262F;
    text-decoration: none;
    text-align: center;
    background-color: #C3A995;
    grid-area: deve;
    font-size: 50px; 
    padding-left:20px;
    padding-right:20px;
    border-radius:25px;
    padding-top:15px;
    padding-bottom:15px;
}

/* Bible verse button */
.devb{
    color: #13262F;
    text-decoration: none;
    text-align: center;
    background-color: #C3A995;
    grid-area: devb;
    font-size: 50px; 
    padding-left:20px;
    padding-right:20px;
    border-radius:25px;
    padding-top:15px;
    padding-bottom:15px;
}

/* Devotion buttons color change */
.devq:hover, .deve:hover, .devb:hover {
    color:lavender; 
}

/* Footer box customisation*/
.footer {
    grid-area: footer;
    background-color: rgb(100, 61, 22);
}

/* Nav buttons customisation*/
.nav a{
    background-color: #13262F;
    color: #E9E6FF;
    border-radius: 7px;
    padding-left: 29px;
    padding-right: 29px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: large;
    text-decoration: none;
}

/* Nav buttons change */
.nav a:hover {
    color: #13262F;
    background-color: #E9E6FF;
}

/* This my font I am using (NO TOUCHY) */
.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}
