body {
    margin:auto;
    background-color:#13262F;

}


.wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "banner banner banner"
    "nav nav nav"
    "sub-heading sub-heading sub-heading"
    "devotion devotion devotion"
    "footer footer footer"
    
}

.banner {
    grid-area: banner;
    background-color: #13262F;
    margin-bottom: 20px;
    margin-top: 15px;
    padding-left: 43%;
    padding-right:43%;
    color:#E9E6FF;
    font-size:73px;
}

.nav {
    grid-area: nav;
    background-color: #C3A995;
    padding-top: 20px;
    padding-bottom: 23px;
}

.sub-heading {
    grid-area: sub-heading;
    background-color:#13262F;
    color:lavender;
    margin-top:6%;
    margin-bottom:6%;

}

.devotion {
    grid-area: devotion;
    background-color:#C3A995;
}

.devwit{
        color:#13262F;
        text-decoration: none;
    }
.devwit:hover {
    color:lavender; 
}

j
.footer {
    grid-area: footer;
    background-color: rgb(100, 61, 22);
}

.nav a{
    background-color:#13262F;
    color:#E9E6FF;
    border-radius: 7px;
    padding-left: 29px;
    padding-right: 29px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size:large;
}

.nav a:hover {
    color:#13262F;
    background-color:#E9E6FF;
}




